html
    head
        title VTI | #{title} 
    body
        div
            label(for="name") Name
            input(type="text") 
            label(for="age") Age
            input(type="number")
            label(for="relationship") Relationship
            input(type="text")